services:
  mantisbt:
    image: xlrl/mantisbt:latest
    container_name: mantisbt
    env_file: .env
    environment:
      MANTIS_DB_HOST: ${DB_HOST}
      MANTIS_DB_PORT: ${PGSQL_DB_PORT}
      MANTIS_DB_NAME: ${PGSQL_DATABASE}
      MANTIS_DB_USER: ${PGSQL_USER}
      MANTIS_DB_PASSWORD: ${PGSQL_PASSWORD}
      MANTIS_CRYPTO_MASTER_SALT: ${CRYPTO_SALT}
      MANTIS_TIMEZONE: ${TIMEZONE}
      SMTP_USER: ${SMTP_EMAIL}
      SMTP_PASS: ${SMTP_PASSW}
      APP_URL: ${APP_URL}
    ports:
      - "80:80"
    volumes:
      - ./config/config_inc.php:/var/www/html/config/config_inc.php:ro
      - mantis_data:/var/www/html
    restart: always

volumes:
  mantis_data:
